*.iml
.gradle
/local.properties
.idea/
.kotlin/
.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
*.rej
env/
venv/
.venv/
.pytest_cache/
release.keystore
release.properties
release.pk8
release.x509.pem
*.kt.bk
*.java.bk
